.new-orders {
    width: 100%;
    padding: 0px 10px;
}

.orders-filters {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 11% 8%;
    gap: 12px;
    margin-top: 5px;
}

.orders-filters .input-container {
    width: 100%;
}

.orders-filters .filter-buttons {
    display: flex;
    align-items: flex-end;
}

.order-action-buttons {
    display: flex;
    width: 50%;
}

.new-orders a {
    text-decoration: underline;
}

.booking-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-modal .modal-body {
    overflow: unset;
    height: unset !important;
}

.booking-modal .modal-footer {
    display: flex;
    justify-content: space-between;
}

.booking-modal .cancel-btn {
    width: 40%;
}

.booking-modal .submit-btn {
    width: 40%;
}

.nav-link.active{
    color: #ff6900 !important;
}

.nav-link{
    color: #000 !important;
}

.options-dropdown button{
    background-color: #ff6900;
    color: #fff;
    border: none;
    display: flex;

}
.options-dropdown button:hover{
    background-color: #ff6900;
    color: #fff;
    border: none;
    

}


.new-orders a {
    text-decoration: none;
}

.options-dropdown{
    button::before{
        display: none !important;
    }

    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
        background-color: #ff6900;
        color: #fff;
        border: none;
    }
}