.homepage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}
.position-absolute{
    position: absolute;
}

.homepage-left {
    z-index: 5;

    width: 5%;
    transition: 0.5s ease width; 
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #f5f8fa;
    overflow-x: hidden;
    &:hover {
        z-index: 5;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 20%;
        transition: 0.5s ease width; 
        .show_on_hover{
            opacity: 1;
            transition: 0.5s ease opacity;
        }
        .hide_on_hover{
            opacity: 0;
            // transition: 0.5s ease opacity;  
        }
    }
    .show_on_hover{
        opacity: 0;
        transition: 0.5s ease opacity;
    }
    .hide_on_hover{
        opacity: 1;
        // transition: 0.5s ease opacity;  
    }
   
}

.logo-image {
    height: 80px;
}

.logo-image img {
    // width: 90%;
}

.side-nav-bar {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.nav-bar-item {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
}

.nav-bar-item-active {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background-color: #ff6900;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

a {
    text-decoration: none;
}

.homepage-right {
    width: 100%;
    background-color: white;
}

.pointer{
    cursor: pointer;
}