.product-mapping {
    background-color: white;
    padding: 0px 10px;
}

.product-header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.product-map-filters {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.product-map-filters .input-container {
    width: 25%;
}

.product-map-filters .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 20%;
}

.filter-buttons button {
    height: 38px;
    margin-right: 20px;
    border: 1px solid #ff6900;
    background: transparent;
    border-radius: 4px;
    color: #ff6900;
    padding: 0 10px;
}

.product-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.product-actions button {
    width: unset;
}

.payment-heading {
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-actions .submit-btn {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    padding: 10px;
}

.product-mapping .locations td {
    text-align: center;
    height: 40px;
}


.pickup-locations-table {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    overflow-x: auto;
    max-height: 450px;
    overflow-y: auto;
 
}

.pickup-locations-table  .order-id-cell {
   
    text-decoration: underline;
    font-weight: 600;
}

.pickup-locations-table table {
    width: 100%;
    color: #212529;
    text-align: left;
}

/* General table styling */
/* General table styling */
/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    /* font-family: 'Arial', sans-serif; */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Table Head Styling */
.table-head {
    background: linear-gradient(135deg, #ff6a00ef, #ff7f24);
    height: 75px;
    color: white;
    font-size: 1.2rem;
    text-align: left;
}

.table-head th { 
    text-align: center;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Set minimum width for all table headers and cells */
.table-head th, .products-row td {
    min-width: 150px; /* Set minimum width of 150px */
}

.products-row {
    height: 80px;
    transition: background-color 0.3s ease;
    color: #333;
}

/* Alternate row Background */
.products-row:nth-child(even) {
    background-color: #f0f0f0 !important; /* Light gray background for even rows */
}

.products-row:nth-child(odd) {
    background-color: #FDFEFF !important; /* White background for odd rows */
}

/* Hover Effect for Entire Row */
.products-row:hover {
    background-color: #d9d9d9; /* Slightly darker background on hover */
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1); /* Top and bottom shadow */
    transform: translateY(-1px); /* Light pop-out effect */
    /* transition: all 0.1s ease-in-out; Smooth transition */
}

.products-row td {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
}

.table-head th, .products-row td {
    border-right: 1px solid rgba(64, 48, 50, 0.2);
}

.table-head th:last-child, .products-row td:last-child {
    border-right: none;
}











 


.assign-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assign-location .modal-header {
    font-size: 14px;
    color: #181c32;
    font-weight: 600;
}

.assign-location .modal-body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: auto;
    max-height: 300px;
}

.select-all {
    text-align: center;
}



.dimension-container .input-row {
    width: 100%;
}

.dimension-container .input-row .input-container1 {
    width: 30%;
}

.dimension-container .input-field {
    justify-content: flex-start;
}

.add-more-dimension {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: blue;
    padding: 10px;
    text-decoration-line: underline;
    cursor: pointer;
}

.dimension-container {
    width: 100%;
}

.shipping-boxes .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, .2); */
}

.shipping-heading {
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}

.shipping-boxes .submit-btn {
    width: unset;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: unset;

}

.shipping-boxes .modal-body {
    overflow-y: auto;
}

.shipping-boxes .modal-body table{
    width: 100%;
}

.shipping-boxes .table-head{
    height: 50px;
}

.shipping-boxes .modal-footer {
    padding-right: 20px;
}

.shipping-boxes .cancel-btn {
    width: unset;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: unset;
}

.add-shipping-box .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.add-shipping-box .input-container {
    width: 100%;
}

.add-shipping-box .input-row {
    width: 100%;
}

.add-shipping-box .input-container1 {
    width: 30%;
}

.import-dimesions .modal-body{
    overflow: unset;
    height: unset;
}

.import-dimesions .submit-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: unset;
}

.import-dimesions .cancel-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: unset;
}